<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schianologic's Videogames Arts</title>
</head>
<body class="sfondohomepage">

    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Schianologic\'s Games Arts')}"></nav>
        <nav th:replace="~{fragments/head :: head('Schianologic\'s Games Arts')}"></nav>
    </header>

    <main class="container">
        <section class="row">
            <div class="col-12 text-center">
                <h1 class="welcometext my-5">
                    Welcome, user! We present to you:
                </h1>
                <center><img src="/img/logosenzasfondo.png" alt="descrizione immagine" width="250" height="250"></center>
            </div>
        </section>
    </main>

</body>