* {
    margin: 0;
    padding: 0;
}

.welcometext {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #00ffff;
}

.sfondohomepage {
    background-color: black;
}

.sfondocreate {
    background-color: black;
}

.sfondogames {
    background-color: black;
}

.card-title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: xx-large;
    color: #000000;
}



.price-box {
    display: inline-block;
    border: 1.5px solid rgb(255, 255, 255);
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    min-width: 60px;
    text-align: center;
}

.footerbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #2afafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.footerbar a:hover {
    text-decoration: underline;
}