.welcometext {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #00ffff;
}

.sfondohomepage {
    background-color: black;
}