<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Schianologic\'s Games Arts')}"></head>

<body class="sfondocreate">

    <header>
        <div th:replace="~{fragments/navbar :: navbar('Schianologic Games Arts')}"></div>
    </header>


    <main class="container">
        <div class="col-12">
            <h1 class="card-title mb-4 p-4 text-center fw-bold text-white">
                Create New Game
            </h1>
        </div>
        <section class="games row">
            <div class="col-12 text-center">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}">
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <form th:action="@{/games/create}" method="POST" th:object="${game}">

                    <div class="my-5 fw-bold text-white">
                        <label for="titleInput" class="form-label">Title:</label>
                        <input id="titleInput" type="text" class="form-control mb-3" th:field="*{title}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="developerInput" class="form-label">Developer:</label>
                        <input id="developerInput" type="text" class="form-control mb-3" th:field="*{developer}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('developer')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('developer')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="descriptionInput" class="form-label">Description:</label>
                        <input id="descriptionInput" type="text" class="form-control mb-3" th:field="*{description}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="genreInput" class="form-label">Genre:</label>
                        <input id="genreInput" type="text" class="form-control mb-3" th:field="*{genre}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('genre')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('genre')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="releaseDateInput" class="form-label">ReleaseDate:</label>
                        <input id="releaseDateInput" type="date" class="form-control mb-3" th:field="*{releaseDate}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('releaseDate')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('releaseDate')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="descriptionInput" class="form-label">Description:</label>
                        <input id="descriptionInput" type="text" class="form-control mb-3" th:field="*{description}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="imageUrlInput" class="form-label">Image URL:</label>
                        <input id="imageUrlInput" type="text" class="form-control mb-3" th:field="*{imageUrl}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('imageUrl')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-5 fw-bold text-white">
                        <label for="priceInput" class="form-label">Price:</label>
                        <input id="priceInput" type="number" step="0.01" class="form-control mb-3" th:field="*{price}"
                            th:errorClass="is-invalid" required>
                        <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>

                    <section class="mb-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger">Confirm</button>
                        <a th:href="@{/home}" class="btn btn-primary me-2">Back</a>
                        <a th:href="@{/games/create}" class="btn btn-success">Reset</a>
                    </section>
                </form>
            </div>
        </section>




    </main>
    <th:block th:replace="~{fragments/footerbar :: scripts}"></th:block>
</body>

</html>