<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Schianologic\'s Games Arts')}"></head>

<body class="sfondocreate">

    <header>
        <div th:replace="~{fragments/navbar :: navbar('Schianologic Games Arts')}"></div>
    </header>
    <main class="container">
       <section class="col-12 d-flex align-items-start row">
        <div class="col-6">
            <h1 class="card-title mb-4 p-5 text-center fw-bold text-white">
                Editing Game:
            </h1>
            <div class="card-img-top text-center p-3">
                <img th:src="${game.imageUrl}" class="w-50" width="50%" height="auto" alt="game's url" />
            </div>
            <h2 class="card-title mb-4 p-5 text-center fw-bold text-white">
                [[${game.title}]]
            </h2>
        </div>
        
        <div class="col-6">
            <form th:action="@{/games/edit/{id}(id=${game.id})}" method="POST" th:object="${game}">
                <input type="hidden" th:field="*{id}" />
        
                <div class="my-5 fw-bold text-white">
                    <label for="titleInput" class="form-label">Title</label>
                    <input id="titleInput" type="text" class="form-control mb-3" th:field="*{title}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="developerInput" class="form-label">Developer</label>
                    <input id="developerInput" type="text" class="form-control mb-3" th:field="*{developer}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('developer')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('developer')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <input id="descriptionInput" type="text" class="form-control mb-3" th:field="*{description}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="genreInput" class="form-label">Genre:</label>
                    <input id="genreInput" type="text" class="form-control mb-3" th:field="*{genre}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('genre')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('genre')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="releaseDateInput" class="form-label">ReleaseDate:</label>
                    <input id="releaseDateInput" type="date" class="form-control mb-3" th:field="*{releaseDate}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('releaseDate')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('releaseDate')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="imgInput" class="form-label">Img Url</label>
                    <input id="imgInput" type="text" class="form-control mb-3" th:field="*{imageUrl}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('imageUrl')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
                <div class="my-5 fw-bold text-white">
                    <label for="priceInput" class="form-label">Price</label>
                    <input id="priceInput" type="number" step="0.01" class="form-control mb-3" th:field="*{price}"
                        th:errorClass="is-invalid" required>
                    <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                        <ul>
                            <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                        </ul>
                    </div>
                </div>
    
    
    
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                    <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                </div>
    
                </form>
        </div>
       </section>


    </main>
    <th:block th:replace="~{fragments/footerbar :: scripts}"></th:block>
</body>

</html>